@import "tailwindcss"; 

@layer base {
  :root {
    --color-bg: 255 255 255; /* light */
    --color-text: 15 20 25;
    --color-border: 230 236 240;
  }

  [data-theme="dark"] {
    --color-bg: 0 0 0;
    --color-text: 231 233 234;
    --color-border: 47 51 54;
  }
  body {
    @apply bg-[rgb(var(--color-bg))] text-[rgb(var(--color-text))] antialiased font-sans;
  }
}

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
}



